.wrapper.newCount_count_first{
    padding-right: 350px;
    margin-bottom: 37px;
}

.newCountTable.newCountTable_count_first{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}
.newCountTable_count_first .newCount__input{
    width: 410px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.newCountTable_count_first .newCount__input span{
    font-size: 14px;
    font-weight: normal;
}
.newCountTable_count_first .newCount__input th:first-child{
    width: 105px;
    text-align: left;
}
.newCountTable_count_first .select_comp_newCount{
    min-width: 173px;
}

.wrapper.wrapper_comp_newCountBtnLine button{
    margin-right: 30px;
}
.button.button_comp_newCountBtnLine{
    border-radius: 5px;
}

.wrapper.newCount_count_second{
    padding-right: 100px;
    padding-bottom: 120px;
}
.container_comp_newCountTable{
    margin-top: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.newCountTable.newCountTable_count_second{
    margin-left: 25px;
    border-collapse: collapse;
}
.newCountTable.newCountTable_count_second tr th{
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-align: left;
    padding-right: 30px;
    box-sizing: border-box;
    padding-bottom: 30px;
}
.newCount_type_min input{
    width: 75px;
}
.newCount_type_max input{
    min-width: 256px;
}
.newCount_type_middle input{
    width: 113px;
}

.newCountTable__options{
    display: flex;
}
.newCountTable__options i{
    font-size: 12px;
    cursor: pointer;
}
.newCountTable__pen{
    margin-right: 6px;
    color: var(--auth-color-blue);
}
.newCountTable__trash{

    color: var(--text-red-color)
}

.wrapper.wrapper_comp_newCountTableValues{
    padding: 30px 21px;
    background-color: #FAFAFA;
    box-shadow: 1px 1px 8px 1px var(--shadow-sixty);
    border-radius: 7px;
}
.newCountTableValues__line{
    display: flex;
    width: 172px;
    justify-content: space-between;
    margin-bottom: 13px;
}
.newCountTableValues__line:last-child{
    margin-bottom: 0;
}
.newCountTableValues__line span:first-child{
    font-size: 14px;
    font-weight: bold;
}
.newCountTableValues__line span:last-child{
    font-size: 14px;
}


.wrapper.newCount_count_third{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.wrapper.wrapper_comp_comment{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.wrapper.wrapper_comp_comment span{
    font-size: 14px;
    margin-bottom: 16px;
}
.wrapper.wrapper_comp_comment textarea{
    border-top:  none;
    border-right: none;
    border-left: none;
    resize: none;
    border-bottom: 1px solid var(--border-black);

}
.wrapper.wrapper_comp_comment textarea::placeholder{
    color: #000;
    opacity: 39%;
}
.wrapper.wrapper_comp_comment textarea:focus{
    outline: none;
}

.wrapper.newCount_count_third .wrapper.wrapper_comp_newCountBtnLine{
    margin-top: 40px;
    display: flex;
}
.wrapper.newCount_count_third .wrapper.wrapper_comp_newCountBtnLine button{
    margin-right: 25px;
}
.wrapper.newCount_count_third .newCountBtnLine__responsible{
    display: flex;
}
.newCountBtnLine__responsible{
    display: flex;
    align-items: center;
}
.newCountBtnLine__responsible span{
    margin-right: 29px;
    margin-left: 20px;
}
.newCountBtnLine__responsible span:first-child{
    font-size: 14px;
}
.newCountBtnLine__responsible span:last-child{
    margin-left: 40px;
    font-weight: bold;
    font-size: 16px;
    opacity: .5;
}
.newCountBtnLine__responsible select{
    width: 282px;
}