.container_comp_taskCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper.wrapper_comp_countCard.wrapper_comp_taskCard {
  width: 90%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.task__plus {
  margin-top: 16px;
}

.task__current {
  box-shadow: 1px 1px 6px 1px var(--shadow-sixty);
  padding: 20px;
}

.taskCard__title {
  margin-bottom: 6px;
}

.taskCard__title span {
  font-size: 14px;
  font-weight: bold;
  color: var(--auth-color-blue);
}

.taskCard__tag {
  margin-bottom: 6px;
}

.taskCard__tag span {
  font-size: 12px;
  color: #000;
  opacity: 0.5;
}

.taskCard__dateType {
  margin-bottom: 9px;
}

.taskCard__date {
  font-size: 12px;
  margin-right: 9px;
}

.taskCard__type {
  color: #fff;
  background-color: var(--color-red);
  font-size: 10px;
  padding: 0 14px;
  border-radius: 10px;
}

.taskCard__options {
  display: flex;
  font-size: 12px;
}

.taskCard__options div {
  margin-right: 5px;
}

.taskCard__messages {
  background-color: var(--button-blue-bg);
  color: #fff;
  border-radius: 6px;
  padding: 1px 5px;
}

.taskCard__clip {
  border: 1px solid var(--text-gray-color);
  border-radius: 6px;
  color: var(--text-gray-color);
  padding: 1px 5px;
}

.taskCard__check {
  border: 1px solid var(--text-gray-color);
  border-radius: 6px;
  color: var(--text-gray-color);
  padding: 1px 5px;
}

.taskCard__footer {
  margin-top: 9px;
  display: flex;
  justify-content: space-between;
}

.taskCard__users {
  display: flex;
  align-items: center;
}

.taskCard__users span {
  color: #000;
  font-size: 20px;
  opacity: 0.28;
  margin: 0 4px;
}

.taskCard__photo {
  max-width: 30px;
  max-height: 30px;
  overflow: hidden;
  border-radius: 50%;
}

.taskCard__right {
  text-align: right;
  font-size: 12px;
}
