.wrapper.container_comp_count {
  display: flex;
  padding-bottom: 40px;
}
.wrapper.wrapper_comp_count {
  margin-right: 20px;
  box-sizing: border-box;
  min-width: 400px;
}
.count__title {
  text-align: center;
  padding: 8px;
}
.count__title span {
  font-size: 16px;
  color: #fff;
}
.count__price {
  font-size: 36px;
  font-weight: bold;
  margin: 9px 0;
  text-align: center;
}
.count__plus {
  font-size: 20px;
  text-align: center;
}
.count__title.count_color_blue {
  background-color: var(--button-blue-bg);
}
.count__title.count_color_yellow {
  background-color: var(--yellow-block);
}
.count__title.count_color_green {
  background-color: var(--green-block);
}
.container.container_comp_compCard {
  display: flex;
  flex-direction: column;
}
.wrapper.wrapper_comp_compCard {
  max-width: 360px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  padding: 20px;
  box-shadow: 1px 1px 5px 2px var(--shadow-sixty);
  box-sizing: border-box;
  margin-top: 50px;
}
.countCard__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.countCard__title {
  font-size: 14px;
  color: var(--auth-color-blue);
  font-weight: bold;
}
.countCard__price {
  font-size: 24px;
  color: #ebba16;
  font-weight: bold;
}
.countCard__bottom {
  display: flex;
  justify-content: space-between;
}

.countCard__bold {
  font-weight: bold;
  font-size: 10px;
}
.countCard__gray {
  color: #000;
  opacity: 50%;
  font-size: 12px;
}

.countCard__options {
  position: absolute;
  right: 0;
  top: -25px;
  display: flex;
}
.countCard__options i {
  cursor: pointer;
  margin-right: 6px;
}
.countCard__pen i {
  color: var(--auth-color-blue);
}
.countCard__trash i {
  color: var(--text-red-color);
}
