.container.container_comp_partners {
  display: flex;
}
.wrapper.wrapper_comp_partners {
  background-color: #fff;
  box-shadow: 1px 1px 6px 1px var(--shadow-sixty);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 28px;
  max-width: 358px;
  box-sizing: border-box;
}
.partners__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.partners__title span {
  color: var(--auth-color-blue);
  font-size: 16px;
  font-weight: bold;
}
.partners__title img {
  max-width: 45px;
  max-height: 45px;
  overflow: hidden;
}
.table.table_comp_partners {
  width: 100%;
  border-spacing: 0 9px;
}
.table.table_comp_partners tr th {
  text-align-last: left;
  font-size: 14px;
}
.table__bold {
}
.table__gray {
  font-size: 14px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
}
.partners__adress {
  margin: 17px 0;
}

.container.container_comp_debt {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container.container_comp_debt div span:first-child {
  font-weight: bold;
  font-size: 12px;
}
.wrapper.wrapper_comp_debt {
  display: flex;
  flex-direction: column;
}
.container.container_comp_debt div span:last-child {
  font-size: 24px;
  font-weight: bold;
  padding-top: 17px;
}
.wrapper.wrapper_comp_debt span:last-child {
  color: #ebba16;
  padding-left: 20px;
}
.wrapper.wrapper_comp_credit span:last-child {
  color: #ff5752;
}
.wrapper.wrapper_comp_credit span:first-child {
  margin-right: 30px;
}
.wrapper.wrapper_comp_credit {
  text-align: right;
  display: flex;
  flex-direction: column;
}
.button.button_comp_partners {
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid var(--auth-color-blue);
  border-radius: 7px;
  font-size: 14px;
  color: var(--auth-color-blue);
  padding: 9px 30px;
}
