.input{
    font-family: PT Sans Caption;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid var(--border-black);
    padding-bottom: 6px;
 }
input:focus{
    outline: none;
}
.input::placeholder{
    color: rgba(0, 0, 0, .24);
    font-size: 14px;
}
.input.input_size_big{
    width: 100%;
}