/* --auth-color: #; */
@import './constants.css';

ul,
li {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

body {
  margin: 0;
  font-family: 'PT Sans Caption', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: 'PT Sans Caption', sans-serif;
}

textarea {
  font-family: 'PT Sans Caption', sans-serif;
}

textarea:focus {
  outline: none;
}

select {
  font-family: 'PT Sans Caption', sans-serif;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.24);
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.39);
  padding: 0 22px 6.5px 0px;
  align-items: flex-start;
  text-align: left;
  font-size: 14px;
  appearance: none;
  -webkit-appearance: none;
  position: relative;
}

.wrapper.wrapper_comp_select {
  position: relative;
}

.wrapper.wrapper_comp_select:after {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  content: '\f107';
  position: absolute;
  right: 0;
  top: 4px;
  opacity: 50%;
}

select:focus {
  outline: none;
}

option:focus {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
  text-decoration: none;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.component-title__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
  margin-top: 26px;
  margin-left: 40px;
}

.compTitle__left {
  display: flex;
  align-items: center;
}

.compTitle__left span {
  font-size: 14px;
  color: #000;
  opacity: 53%;
}

.compTitle__left h1 {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-right: 43px;
}

.compTitle__left input {
  min-width: 230px;
  font-size: 14px;
  position: relative;
}

.compTitle__left input:focus {
  outline: none;
}

.compTitle__left input::placeholder {
  color: rgba(0, 0, 0, 0.24);
}

.fa-search {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  margin-left: 8.5px;
}

/* /NAVIGATION */

/* @font-face{
  font-family: Pt Sans Caption;
  src: url('./fonts/PTSansCaption-Regular.ttf');
} */
